<div class="flex min-h-screen bg-gray-100">
  <!-- Side Navigation -->
  <nav class="w-64 bg-white shadow-lg rounded-r-xl p-6 flex flex-col gap-4">
    <a
      routerLink="/Admin/AdminDashboard"
      routerLinkActive="bg-blue-100 text-blue-700"
      class="flex items-center gap-3 px-4 py-3 rounded-lg text-gray-700 hover:bg-blue-50 transition font-medium"
    >
      <span class="material-icons text-blue-600">Dashboard</span>
      
    </a>
  <a
  routerLink="/Employee/EmployeeManege"
  routerLinkActive="bg-blue-100 text-blue-700"
  class="flex items-center gap-3 px-4 py-3 rounded-lg text-gray-700 hover:bg-blue-50 transition font-medium"
>
  <span class="material-icons text-blue-600"> Users</span>
</a>
    <div class="flex-1"></div>
    <button
      class="flex items-center gap-3 px-4 py-3 rounded-lg text-gray-700 hover:bg-red-50 transition font-medium"
  (click)="logout()"  >
      <span class="material-icons text-red-600">logout</span>
    </button>
  </nav>
  <!-- Main Content Area -->
  <div class="flex-1 p-10">
    <router-outlet></router-outlet>
  </div>
</div>